.welcome-info{
    display: flex;
    flex-direction: row;
    font-size: 4em;
    align-items: center;
    justify-content: center;
    
}
.welcome-info .info {
    border-style: solid;
    border-radius: .2em;
    font-weight: bold;
}

