<div class="content">
    <form (ngSubmit)="onSubmit();" class="login-form">
      <div class="login-input">
        <div>Account:</div>
        <input #account name="account" [(ngModel)]="user.account">
      </div>
      
      <div class="login-input">
        <div>Password:</div>
        <input #pwd name="pwd" [(ngModel)]="user.password">
      </div>
      <div class="btn-area">
        <button type="submit">Submit</button>
        <a [routerLink]="[ '/signUp']">SignUp</a>
      </div>
    </form>
</div>
