.login-component {
  margin: 0 auto;
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30vh;
  padding: 1em;
}

.login-form *{
    font-size: 1.5em;
}

.login-form .sub-title{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(43, 76, 119);
}

.login-form input{
    margin: .5em;
    padding: .3em;
    width: 75%;
    border: rgb(43, 76, 119) .1em solid;
    border-radius: .1em;
}
.login-form input[type=submit]{
    font-weight: bold;
    width: 75%;
    color:white;
    border-color: rgb(43, 122, 189);
    background-color: rgb(43, 76, 119);
}
.login-form input[type=submit]:hover{
    color: white;
    background-color: rgb(72, 122, 189);
    transition: 500ms;
    cursor: pointer;
}

.login-form input:focus{
    outline: none;
}
